<!-- this page is here -->
<div class="container" id="cards">
    <style>
        .card {
            display: inline-block;
        }
    </style>
    <div class="card" v-for="teammate in teammates" style="width: 18rem;padding: 10px;margin:10px;">
        <h4 class="card-title">Ádám</h4>
        <h6 class="card-subtitle mb-2 text-muted">Webmester és online marketing</h6>
    </div>
    <div class="card" v-for="teammate in teammates" style="width: 18rem;padding: 10px;margin:10px;">
        <h4 class="card-title">Nonó</h4>
        <h6 class="card-subtitle mb-2 text-muted">Projektvezető</h6>
    </div>
    <div class="card" v-for="teammate in teammates" style="width: 18rem;padding: 10px;margin:10px;">
        <h4 class="card-title">Cili</h4>
        <h6 class="card-subtitle mb-2 text-muted">Szakmai vezető</h6>
    </div>
    <div class="card" v-for="teammate in teammates" style="width: 18rem;padding: 10px;margin:10px;">
        <h4 class="card-title">Ali</h4>
        <h6 class="card-subtitle mb-2 text-muted">Információgyűjtés</h6>
    </div>
    <div class="card" v-for="teammate in teammates" style="width: 18rem;padding: 10px;margin:10px;">
        <h4 class="card-title">Szepesi Flóra</h4>
        <h6 class="card-subtitle mb-2 text-muted">Információgyűjtés</h6>
    </div>
    <hr>
    <div style="text-align: center;">
        Ezen a weboldalon információkat lehet találni a Dél-Európában készült termékekről.<br>
        További információ található az egyes lapokon (országok szerint), illetve a plakáton.<br>
        Fontos lenne tudni hogy a plakáton és az oldalon nem ugyanazok az információk szerepelnek,<br>
        érdemes megnézni mind a kettőt.
    </div>
</div>